html, body {
    margin: 0;
    padding: 0;
    font-family: verdana;
    font-size: 15px;
}

body {
    background: url("img/wrapBackground.png") repeat-x #e8e8e8;
}

a {
    text-decoration: none;
}

img {
    border: 0;
}

.clear {
    clear: both;
}

.themeOnPink {
    background: #de004e;
    border-radius: 12px;
    color: white;
    padding: 5px 8px;
}

.titleTheme {
    color: #7a7a7a;
    font-size: 18px;
    margin: 0 0 10px 0;
}

.titleTheme img {
    vertical-align: middle;
}

#wrap {
    margin: 40px auto 0;
    max-width: 960px;
}

header {
    clear: both;
    min-height: 40px;
}

header div {
    display: inline-block;
}

.titleSite {
    float: left;
    font-family: Minion Pro;
    font-size: 29px;
    letter-spacing: -1px;
    text-align: right;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    width: 24%;
}

.titleSite a {
    color: #7d7d7d;
}

.slogan {
    color: #666666;
    float: left;
    font-family: Minion Pro;
    font-size: 12px;
    font-weight: 100;
    line-height: 37px;
    text-align: right;
    vertical-align: top;
    width: 24.5%;
}

.search {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    float: right;
    position: relative;
}

.loupe {
    background: url("img/icons/iconSearch.png") no-repeat;
    height: 13px;
    left: 15px;
    position: absolute;
    top: 14px;
    width: 17px;
    z-index: 5;
}

.search input {
    background: #ededed;
    border: 0;
    border-radius: 20px;
    box-shadow: inset 2px 3px 5px 0px rgba(0,0,0,0.2);
    color: black;
    font-family: Verdana;
    font-size: 10px;
    font-style: italic;
    outline: none;
    padding: 12px 10px 12px 40px;
    width: 210px;
}

.search input::-webkit-input-placeholder {
    color: #848484;
}

.search input:-moz-placeholder {
    color: #848484;
}

.search input::-moz-placeholder {
    color: #848484;
}

.topMenu {
    padding: 40px 0 20px 0\0/;   /* ======================= for ie8  ===================================  */
    margin: 21px 0 0 0;
}

.topMenu ul {
    padding: 0 0 0 15px;
}

.topMenu li {
    display: inline-block;
    padding: 0 10px;
}

.topMenu li a {
    border-radius: 5px;
    color: #646363;
    float: left;
    font-family: Verdana;
    font-size: 13px;
    font-style: italic;
    padding: 4px 2px;
    position: relative;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
}

.triangleDown {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid white;
    bottom: -10px;
    display: none;
    height: 0;
    left: 40%;
    position: absolute;
    width: 0;
    z-index: 10;
}

.topMenu li a:hover {
    background: white;
    color: #de004e;
}

.topMenu li a:hover .triangleDown {
    display: block;
}

/*=================CONTENT=======================*/

#content {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 3%;
    position: relative;
}

#content:before {
    border-radius: 50%;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.11);
    content: '';
    height: 20px;
    left: 20px;
    position: absolute;
    top: 0;
    width: 90%;
    z-index: -1;
}

#content:after {
    border-radius: 50%;
    bottom: 0;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.3);
    content: '';
    height: 20px;
    left: 20px;
    position: absolute;
    width: 90%;
    z-index: -1;
}

.mainNews {
    display: inline-block;
    margin: 0 2% 0 0;
    position: relative;
    width: 58%;
}

.mainNewsImage {
    width: 100%;
}

.underMainImage {
    border-radius: 0 0 10px 10px;
    bottom: 4px;
    left: 0;
    opacity: 1;
    position: absolute;
    right: 0;
}

.underMainImage div {
    border-radius: 0 0 10px 10px;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 2;
}

.backgroundMainImage {
    background: rgba(0,0,0,0.25);
    height: 90px;
}

.inscriptionsMainImage {
    position: absolute;
    bottom: 0;
}

.underMainImage p {
    color: white;
    font-size: 11px;
    padding: 0 3%;
    word-spacing: 4px;
}

.underMainImage .titleOnMainImage {
    font-size: 18px;
    font-weight: bolder;
    word-spacing: 0px;
}

.freshNews {
    display:inline-block;
    min-width: 290px;
    vertical-align: top;
    width: 38%;
}

.oneLineOnNews p {
    margin: 0;
}

.oneLineOnNews p:first-of-type {
    font-size: 12px;
    overflow: hidden;
    padding: 10px 0 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.oneLineOnNews img {
    background: #dcdcdc;
    border: 1px solid white;
    border-radius: 5px;
    box-shadow: -1px -1px 0 #dcdcdc;
    clear: left;
    float: left;
    margin: 0 17px 10px 0;
    min-width: 39px;
    padding: 4px;
    width: 13%;
}


.dataOneLineOnNews {
    color: #de004e;
    font-size: 10px;
}

.oneLineOnNews hr {
    border-top: 1px dashed #dcdcdc;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin: 18px 0 0 0;
}

.oneLineOnNews .last {
    border-top: 1px solid white;
}

.blockBrieflyOnNews {
    border-top: 1px solid #ebebeb;
    margin: 10px 0 0 0;
}

.brieflyOnNews {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: inline-block;
    min-width: 270px;
    padding: 1.5% 2% 1% 2.8%;
    vertical-align: top;
    width: 32%;
}

.brieflyOnNews:first-of-type {
    padding-left: 0;
}

.brieflyOnNews:nth-child(2) {
    border-left: 1px solid #ebebeb;
}

.brieflyOnNews:last-of-type {
    padding-right: 0;
}

.brieflyOnNews p {
    margin: 8px 0;
}

.brieflyOnNews p:first-child {
    color: gray;
    font-size: 11px;
}

.brieflyOnNews h2 {
    color: #555555;
    font-size: 19px;
    margin: 0;
}

p.textBrieflyOnNews {
    color: gray;
    font-size: 12px;
    margin-bottom: 0;
}

.linkForArticle {
    color: #DE004E;
    font-size: 10px;
    font-style: italic;
}

.lastContentUsers {
    border-top: 1px solid #ebebeb;
}

.sidebarLastContentUsers {
    display: inline-block;
    padding: 20px 0 0;
    width: 32%;
}

.columnLastComments {
    padding: 0 20px 20px 0;
}

.commentBlock {
    margin: 0 0 7px 0;
}

.commentBlock img {
    float: left;
    margin: 4px 0 0 5px;
}

.commentBlock p {
    margin: 0;
    padding: 0 0 0 35px;
}

.commentData {
    color: #DE004E;
    font-size: 9px;
}

.commentText {
    color: #6e6e6e;
    font-size: 12px;
    line-height: 18px;
}

.commentText span {
    color: black;
}

.columnArchives {
    border-top: 1px solid #EBEBEB;
    margin-right: -5px;
    padding: 20px 0 0 0;
}

.columnArchives span {
    display: inline-block;
    line-height: 27px;
    width: 49%;
}

.columnArchives span a {
    color: #6e6e6e;
    font-size: 12px;
}

.linkForAllArchives {
    color: #DE004E;
    display: inline-block;
    font-size: 11px;
    font-style: italic;
    margin: 15px 0 0 0;
}

.columnBasicContent {
    border-left: 1px solid #EBEBEB;
    display: inline-block;
    min-height: 590px;
    padding: 20px 0 0 20px;
    vertical-align: top;
    width: 63%;
}

.columnLastPhoto {
}

.lastPhotos a, .lastVideos a {
    border: 4px solid #e3e3e3;
    border-radius: 5px;
    display: inline-block;
    margin: 10px 20px 10px 0;
}

.lastPhotos img, .lastVideos img {
    display: inline-block;
    vertical-align: middle;
}

.columnLastVideo .titleTheme img {
    width: 30px;
}

.lastPhotos a:nth-child(3n), .lastVideos a:nth-child(3n){
    margin-right: 0;
}

.iconVideo {
    position: relative;
}

.iconVideo i {
    background: url("img/icons/iconVideo.png") no-repeat;
    height: 48px;
    left: 57px;
    position: absolute;
    top: 36%;
    width: 56px;
}

footer {
    margin: 20px 10px 60px 15px;
}

.leftSidePostscript {
    float: left;
}

.leftSidePostscript p {
    margin: 0;
}

.copyright {
    color: #6E6E6E;
    font-size: 12px;
}

.autor {
    color: #DE004E;
    font-size: 11px;
}

.rightSidePostscript {
    float: right;
}

.rightSidePostscript img {
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 980px) {
    .topMenu ul {
        text-align: center;
    }

    .underMainImage p {
        line-height: 160%;
        margin: 0;
    }

    .titleOnMainImage {
        line-height: 100%;
    }

}

@media screen and (max-width: 885px) {
    .blockBrieflyOnNews {
        text-align: center;
    }

    .brieflyOnNews {
        text-align: left;
    }
}

@media screen and (max-width: 820px) {
    header {
        text-align: center;
    }

    #wrap header div {
        width: 33%;
    }

    header div {
        float: none;
    }

    .search {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 800px) {
    .mainNews {
        display: block;
        margin: 0 auto;
        min-width: 330px;
    }

    .freshNews {
        display: block;
        margin: 0 auto;
    }
}

@media screen and (max-width: 660px) {

    #wrap header div {
        display: block;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }

    #wrap header .search {
        margin: 0 30%;
        width: 30%;
    }

    .search input {
        min-width: 80px;
        width: 100%;
    }

}

@media screen and (max-width: 590px) {
    .lastContentUsers {
        text-align: center;
    }

    .sidebarLastContentUsers {
        text-align: left;
    }
}

@media screen and (max-width: 460px) {
    footer {
        text-align: center;
    }

    .leftSidePostscript, .rightSidePostscript {
        float: none;
    }
}


